:root {
  --area-width: 50vw;
  --area-height: 65vh;
}
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */

  margin: 0;
  overflow: hidden;
  caret-color: transparent;
  transform-origin: center;
  background: fixed;
  color: rgb(255, 255, 255);
  background-color: rgb(79, 104, 108);
  text-align: justify;
}
p {
  font-size: 1.5em;
}
h1,
h2 {
  text-align: center;
}
#menu {
  height: fit-content;
  width: 60%;
  padding: 50px;
  margin: auto;
  display: block;
  background-color: rgb(23, 82, 109);
  border-radius: 20px;
}
#closebtn {
  position: absolute;
  bottom: 15vh;
  right: 50vw;
  color: rgb(205, 232, 255);
  font-size: 60px;
}
.message {
  width: 50%;
  font-size: 1.6em;
  height: fit-content;
  text-align: center;
  z-index: 1;
  margin: auto;
  padding: 50px;
  margin-top: 25vh;
  box-shadow: rgb(137, 137, 137) 0px 0px 200px;
  background-color: rgb(23, 82, 109);
  border-radius: 20px;
}
#msgOverlay {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  top: 0;
  bottom: 35px;
  z-index: 1;
  display: none;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.571);
}
.Displaying {
  display: block;
}
.menuBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu button:hover,
#options button:hover {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.769);
  background-color: rgba(38, 120, 142, 0.965);
}
#options {
  display: flex;
  justify-content: center;
}
button {
  font-size: 25px;
  border: 2px solid rgba(255, 255, 255, 0.636);
  background-color: rgb(38, 120, 142);
  border-radius: 10px;
  padding: 5px;
  margin: 40px;
  margin-bottom: 0px;
  color: white;
}
.on {
  background-color: rgb(5, 184, 233);
}

.area {
  position: relative;
  height: var(--area-height);
  width: var(--area-width);
  background-color: black;
  margin: auto;
  margin-top: 60px;
  background-image: url(./images/space.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slideBackground 20s linear infinite;
}
#game {
  display: none;
}
.score,
.highScore {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  padding: 20px;
  border: 3px solid white;
  border-radius: 20px;
}
.score {
  float: left;
  margin-left: 30px;
}
.highScore {
  float: right;
  margin-right: 30px;
}
@keyframes slideBackground {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.paused {
  animation-play-state: paused !important;
}
#ship {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 99px;
  height: 99px;
  /* font-size: 79px; */
  transform: rotate(90deg);
  /* transition: 89ms; */
  display: block;
}
#enemy {
  height: 99px;
  position: absolute;
  transition: 4s;
}
.asteroids,
.coins {
  position: absolute;
  transform: translate(-50%, -50%);
}
.asteroids {
  height: 50px;
  /* width: 50px; */

  animation: slider 7s linear 1;
}
.coins {
  height: 20px;
  animation: slider 5s linear 1;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(66, 113, 150);
  width: 100%;
  height: 35px;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
@keyframes slider {
  0% {
    transform: translateX(-2);
    opacity: 0%;
  }
  6% {
    opacity: 100%;
  }
  94% {
    opacity: 100%;
  }
  99% {
    opacity: 4%;
  }
  100% {
    transform: translateX(calc(-1 * var(--area-width)));
    opacity: 0%;
  }
}
/* @media only screen and (max-width: 800px) {
  #menu,
  #game {
    display: none;
  }
  .msgOverlay {
    display: block;
    z-index: 10;
  }
} */
